body {
  margin: 0;
}

/* Additional Helper Classes */

.ma-10 {
  margin: 10%;
}

.h-100vh {
  height: 100vh;
}

.f60 {
  font-size: 60%;
}

.pv-5 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.f7 {
  font-size: .4em;
}

.w6 {
  width: 14rem;
}

.hovergrow:hover {
  cursor: pointer;
  transform-origin: 50% 50%;
  transform: scale(2);
}


/* MIN-MAX Markers */

.minmax {
  border-left: 1px dotted white;
  border-bottom: 1px dotted white;
  transition: all .3s ease;
  border-opacity: 0;
}

.minmax:before,
.minmax:after {
  position: absolute;
  font-family: arial;
  display: block;
  color: rgba(0,0,0,0);
}

.minmax:before {
  content: "MIN";
  top: -2em; right: initial; bottom: initial; left: -1.2em;
}
  @media screen and (min-width: 500px) {
      .minmax:before {top: initial; right: initial; bottom: -2em; left: 0;}
  }

.minmax:after {
  content: "MAX";
  top: initial; right: initial; bottom: -2em; left: -1.2em;
}
  @media screen and (min-width: 500px) {
      .minmax:after {top: initial; right: 0; bottom: -2em; left: initial;}
  }

/* scaleSwitch */

.scaleon {
  border-color: rgba(240,240,240,1); 
}

.scaleon.minmax:before,
.scaleon.minmax:after { color: #646464}

.scaleoff {
  border-color: rgba(0,0,0,0) 
}

.scaleoff.minmax:before,
.scaleoff.minmax:after { color: rgba(0,0,0,0)}


/* Loading Dots (animation) */

.loadingdots {
  position: absolute;
  bottom: 0;
  right: -.06em;
  color: white;
  display: inline-block;
  width: 0em;
  animation-name: widthgrow;
  animation-duration: 1s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}

@keyframes widthgrow {
  100% {width: 1em;}
}
